header {
	background-color: #5b7989;
	border-radius: 10px 10px 0px 0px;

}
.encabezado{
	display: flex;
}

.titulo{
	width: 50%;
	text-align:left;
	color:white;
	text-shadow: 2px 2px #02010a;
}
.menu{
	width: 50%;
	text-align:right;
}

@media (max-width:900px){
.encabezado{
	flex-direction: column;
	align-items: center;
}
.menu{
	text-align: center;
}
.titulo{
	text-align: center;
}
}
.menu > a{
	color: white;
}

.menu > #paisajes{
	text-decoration: none;
}
#imagen1 > img{
	width: 200px;
}
.redessociales > ul > li > a{
	color: white;
	text-decoration:none;
}
.contenido{
	background-color: #d5c75f;
	text-align: center;
	border: 1px ;
  display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding: 10px;

}
.contenido > div{
	margin: 20px;
}

.footer{
	border-radius: 0px 0px 10px 10px;
	background-color: #5b5589;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;

}
.footer > div{
	margin: 20px;
}
@media (max-width:900px)
{ }

img{
	-webkit-box-shadow: 2px 2px #02010a;
	width: 200px;
}
#mail {
	color: white;
	text-decoration:none;
}
body{
	margin: 10px auto;
  max-width: 900px;
  align-items:center;
	background-color: #02010a;
}
#imagen1 > img{
	filter: blur(10px);
}
#imagen3 > img{
	-webkit-filter: sepia(90%);
}

.contenido > div:nth-child(even){
	filter: grayscale(100%);
}
